$base-white: #fff;
$base-black: #000;
$base-sand: #ffdd0026;
$base-red: #f00;
$base-yellow: #fd0;
$yellow-shedow: #867312;
$base-gray: #d9d9d9; 

$font-rounds: 'Rounds Black', sans-serif;
$font-mont: 'Montserrat', sans-serif;
$font-rubik: 'Rubik', sans-serif;